@using TableHelper.Models.Npc
@using TableHelper.Services
@inject XwnNpcApiService XwnNpcApiService
@inject IJSRuntime JS

<div class="table-responsive-sm">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Locked</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Presenting Gender</th> @* Expand this section *@
            <th scope="col">Initial Manner</th>
            <th scope="col">Default Deal Outcome</th>
            <th scope="col">Motivation</th>
            <th scope="col">Want</th>
            <th scope="col">Power</th>
            <th scope="col">Hook</th>
            <th scope="col">Background</th>
            <th scope="col">Role in Society</th>
            <th scope="col">Biggest Problem</th>
            <th scope="col">Age</th>
            <th scope="col">Greatest Desire</th>
            <th scope="col">Most Obvious Character Trait</th>
        </tr>
        </thead>
        <tbody>
        @for(var i = 0; i < Npcs.Count; i++)
        {
            var index = i;
            var npc = Npcs[index];
            <tr id="@index" @onclick="@(async e => await HandleRowClickedAsync(index))">
                <td>
                    @if (_savedNpcs.ContainsKey(index))
                    {
                        <i class="bi bi-save-fill"></i>
                    }
                    else
                    {
                        <i class="bi bi-save"></i>
                    }
                </td>
                <td>@npc.FirstName</td>
                <td>@npc.Surname</td>
                <td>@npc.Gender</td>
                <td>@npc.InitialManner</td>
                <td>@npc.DefaultDealOutcome</td>
                <td>@npc.TheirMotivation</td>
                <td>@npc.TheirWant</td>
                <td>@npc.TheirPower</td>
                <td>@npc.TheirHook</td>
                <td>@npc.TheirBackground</td>
                <td>@npc.TheirRoleInSociety</td>
                <td>@npc.TheirBiggestProblem</td>
                <td>@npc.AgeDescription</td>
                <td>@npc.TheirGreatestDesire</td>
                <td>@npc.MostObviousCharacterTrait</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="toast-container position-static">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="npcSuccessfullySavedToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @_successToastMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="npcFailedToSaveToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @_failedToastMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<NpcInfo> Npcs { get; set; } = [];
    private IJSObjectReference? _module;
    private readonly Dictionary<int, SavedNpc> _savedNpcs = [];
    private string? _successToastMessage;
    private string? _failedToastMessage;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Components/XWN/NpcGenerator/NpcGeneratorDisplay.razor.js");
        }
    }

    private async Task HandleRowClickedAsync(int index)
    {
        if (_savedNpcs.ContainsKey(index))
        {
            await DeleteNpc(index);
        }
        else
        {
            await SaveNpc(index);
        }
    }

    private async Task DeleteNpc(int npcToDeleteIndex)
    {
        var npc = _savedNpcs[npcToDeleteIndex];
        var isDeleted = await XwnNpcApiService.DeleteXwnNpc(npc.Id);
        if (isDeleted)
        {
            _savedNpcs.Remove(npcToDeleteIndex);
        }
        else
        {
            Console.WriteLine("Failed to delete NPC");
        }
        
        _savedNpcs.Remove(npcToDeleteIndex);
    }

    private async Task SaveNpc(int npcToSavesIndex)
    {
        var npc = Npcs[npcToSavesIndex];
        var savedNpc = await XwnNpcApiService.SaveXwnNpc(npc);
        if (savedNpc == null)
        {
            _failedToastMessage = "Failed to save npc";
            if (_module is not null)
            {
                await _module.InvokeVoidAsync(Constants.NpcGeneratorDisplay.ShowFailedToCreateNpcToastMethod);
            }
        }
        else
        {
            _savedNpcs.Add(npcToSavesIndex, savedNpc);
            _successToastMessage = "Successfully saved npc";
            if (_module is not null)
            {
                await _module.InvokeVoidAsync(Constants.NpcGeneratorDisplay.ShowSuccessToastMethod);
            }
        }
    }
}