@using TableHelper.Models.Npc
@using TableHelper.Services
@inject XwnNpcApiService XwnNpcApiService

<div class="table-responsive-sm">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Locked</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Presenting Gender</th>
            <th scope="col">Initial Manner</th>
            <th scope="col">Default Deal Outcome</th>
            <th scope="col">Motivation</th>
            <th scope="col">Want</th>
            <th scope="col">Power</th>
            <th scope="col">Hook</th>
            <th scope="col">Background</th>
            <th scope="col">Role in Society</th>
            <th scope="col">Biggest Problem</th>
            <th scope="col">Age</th>
            <th scope="col">Greatest Desire</th>
            <th scope="col">Most Obvious Character Trait</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Npcs.Count; i++)
        {
            var index = i;
            var npc = Npcs[index];
            <tr id="@index" @onclick="@(async e => await HandleRowClickedAsync(index))">
                <td>
                    @if (_savedNpcs.ContainsKey(index))
                    {
                        <i class="bi bi-save-fill"></i>
                    }
                    else
                    {
                        <i class="bi bi-save"></i>
                    }
                </td>
                <td>@npc.FirstName</td>
                <td>@npc.Surname</td>
                <td>@npc.Gender</td>
                <td>@npc.InitialManner</td>
                <td>@npc.DefaultDealOutcome</td>
                <td>@npc.TheirMotivation</td>
                <td>@npc.TheirWant</td>
                <td>@npc.TheirPower</td>
                <td>@npc.TheirHook</td>
                <td>@npc.TheirBackground</td>
                <td>@npc.TheirRoleInSociety</td>
                <td>@npc.TheirBiggestProblem</td>
                <td>@npc.AgeDescription</td>
                <td>@npc.TheirGreatestDesire</td>
                <td>@npc.MostObviousCharacterTrait</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<Toaster @ref="_toaster"></Toaster>

@code {

    [Parameter]
    public List<NpcInfo> Npcs
    {
        get => _npcs;
        set
        {
            _npcs = value;
            _savedNpcs = [];
        }
    }

    private List<NpcInfo> _npcs;
    private Toaster? _toaster;
    private Dictionary<int, SavedNpc> _savedNpcs = [];
    private const string SuccessfullyDeletedNpcToastMessage = "Successfully deleted npc";
    private const string FailedToDeleteNpcToastMessage = "Failed to delete npc";
    private const string SuccessfullySavedNpcToastMessage = "Successfully saved npc";
    private const string FailedToSavedNpcToastMessage = "Failed to save npc";

    private async Task HandleRowClickedAsync(int index)
    {
        if (_savedNpcs.ContainsKey(index))
        {
            await DeleteNpc(index);
        }
        else
        {
            await SaveNpc(index);
        }
    }

    private async Task DeleteNpc(int npcToDeleteIndex)
    {
        var npc = _savedNpcs[npcToDeleteIndex];
        var isDeleted = await XwnNpcApiService.DeleteXwnNpc(npc.Id);
        if (isDeleted)
        {
            _savedNpcs.Remove(npcToDeleteIndex);
            if (_toaster is not null)
            {
                await _toaster.ShowSuccessToast(SuccessfullyDeletedNpcToastMessage);
            }
        }
        else
        {
            if (_toaster is not null)
            {
                await _toaster.ShowFailedToast(FailedToDeleteNpcToastMessage);
            }
        }

        _savedNpcs.Remove(npcToDeleteIndex);
    }

    private async Task SaveNpc(int npcToSavesIndex)
    {
        var npc = Npcs[npcToSavesIndex];
        var savedNpc = await XwnNpcApiService.SaveXwnNpc(npc);
        if (savedNpc == null)
        {
            if (_toaster is not null)
            {
                await _toaster.ShowFailedToast(FailedToSavedNpcToastMessage);
            }
        }
        else
        {
            _savedNpcs.Add(npcToSavesIndex, savedNpc);
            if (_toaster is not null)
            {
                await _toaster.ShowSuccessToast(SuccessfullySavedNpcToastMessage);
            }
        }
    }

}