@using TableHelper.Models
<div class="table-responsive-sm">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">General Venue of the Event</th>
            <th scope="col">Why are the PCs Involved</th>
            <th scope="col">What's the Nature of the Event</th>
            <th scope="col">What's the Conflict About</th>
            <th scope="col">What Antagonists are Involved</th>
            <th scope="col">Relevant Urban Features</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var encounter in UrbanEncounters)
        {
            <tr>
                <td>@encounter.GeneralVenueOfTheEvent</td>
                <td>@encounter.WhyAreThePcsInvolved</td>
                <td>@encounter.WhatsTheNatureOfTheEvent</td>
                <td>@encounter.WhatsTheConflictAbout</td>
                <td>@encounter.WhatAntagonistsAreInvolved</td>
                <td>@encounter.RelevantUrbanFeatures</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<UrbanEncounter> UrbanEncounters { get; init; } = [];
}