@page "/xwn/SWN"
@using TableHelper.Components
@using TableHelper.Components.XWN
@using TableHelper.Components.XWN.AdventureSeedGenerator
@using TableHelper.Components.XWN.EncounterGenerator
@using TableHelper.Components.XWN.NpcGenerator
@using TableHelper.Components.XWN.PatronGenerator
@using TableHelper.Models
@using TableHelper.Models.Npc
@using TableHelper.Models.Requests
@using TableHelper.Services
@inject GeneratorApiService GeneratorApiService
@inject IJSRuntime Js

<h3>SWN</h3>
<h4>Sandbox Game Generator</h4>
<div class="container">
    <ReRollableRow OnClickCallback="_reRollers[XwnGenerationType.AdventureSeed]" Title="Adventure Seeds">
        <SpinnerWrapper IsLoading="@(!_adventureSeeds.Any())">
            <AdventureSeedGeneratorDisplay Seeds="@_adventureSeeds"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="_reRollers[XwnGenerationType.Patron]" Title="Patron">
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="preferredPatronNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                <select @bind="_preferredPatronNameStyle" id="preferredPatronNameStyle" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0">Arabic</option>
                    <option value="1">Chinese</option>
                    <option value="2" selected>English</option>
                    <option value="3">Greek</option>
                    <option value="4">Indian</option>
                    <option value="5">Japanese</option>
                    <option value="6">Latin</option>
                    <option value="7">Nigerian</option>
                    <option value="8">Russian</option>
                    <option value="9">Spanish</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="preferredPatronNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                <select @bind="_preferredPatronNameGender" id="preferredPatronNameGender" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0" selected>No Preference</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
        </div>
        <SpinnerWrapper IsLoading="!_isPatronNpcsLoaded">
            <RandomNpcInfoDisplay
                @ref="_randomPatronNpcInfoDisplay"
                NumberOfNpcs="1"
                PreferredNameGender="PatronPreferredNameGender"
                PreferredNameOrigin="PatronPreferredNameOrigin"
                UseDynamicColumns="false"
                LoadedNpcsCallback="PatronNpcLoaded"></RandomNpcInfoDisplay>
            <PatronGeneratorDisplay Patrons="@_patrons"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="_reRollers[XwnGenerationType.Npc]" Title="NPCs">
        <div class="row mb-2">
            <div class="col-md-4">
                <label for="numberOfNpcs" class="col-sm-6 col-form-label">Number of NPCs</label>
                <input @bind="_numberOfNpcs" type="number" step="1" class="form-control" id="numberOfNpcs">
            </div>
            <div class="col-md-4">
                <label for="preferredNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                <select @bind="_preferredNameStyle" id="preferredNameStyle" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0">Arabic</option>
                    <option value="1">Chinese</option>
                    <option value="2" selected>English</option>
                    <option value="3">Greek</option>
                    <option value="4">Indian</option>
                    <option value="5">Japanese</option>
                    <option value="6">Latin</option>
                    <option value="7">Nigerian</option>
                    <option value="8">Russian</option>
                    <option value="9">Spanish</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="preferredNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                <select @bind="_preferredNameGender" id="preferredNameGender" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0" selected>No Preference</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
        </div>
        <div class="row">
            <SpinnerWrapper IsLoading="!_isNpcsLoaded">
                <RandomNpcInfoDisplay
                    @ref="_randomNpcInfoDisplay"
                    NumberOfNpcs="_numberOfNpcs"
                    PreferredNameGender="PreferredNameNameGender"
                    PreferredNameOrigin="PreferredNameOrigin"
                    UseDynamicColumns="true"
                    ThreeColumnMinWidth="@ThreeColumnWidth"
                    TwoColumnMinWidth="@TwoColumnWidth"
                    LoadedNpcsCallback="NpcsLoaded"></RandomNpcInfoDisplay>
            </SpinnerWrapper>
        </div>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="_reRollers[XwnGenerationType.UrbanEncounter]" Title="Urban Encounters">
        <SpinnerWrapper IsLoading="@(!_urbanEncounters.Any())">
            <UrbanEncounterGeneratorDisplay UrbanEncounters="_urbanEncounters"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="_reRollers[XwnGenerationType.WildernessEncounter]" Title="Wilderness Encounters">
        <SpinnerWrapper IsLoading="@(!_wildernessEncounters.Any())">
            <WildernessEncounterGeneratorDisplay WildernessEncounters="_wildernessEncounters"/>
        </SpinnerWrapper>
    </ReRollableRow>
</div>

@code {
    private List<AdventureSeed> _adventureSeeds = [];
    private List<Patron> _patrons = [];
    private List<UrbanEncounter> _urbanEncounters = [];
    private List<WildernessEncounter> _wildernessEncounters = [];
    private Dictionary<XwnGenerationType, Func<Task>> _reRollers = new();
    private RandomNpcInfoDisplay? _randomPatronNpcInfoDisplay;
    private RandomNpcInfoDisplay? _randomNpcInfoDisplay;

    private string _preferredNameStyle = "0";
    private string _preferredPatronNameStyle = "0";
    private string _preferredNameGender = "2";
    private string _preferredPatronNameGender = "2";
    private int _numberOfNpcs = 5;
    private const int ThreeColumnWidth = 1500;
    private const int TwoColumnWidth = 1300;
    private PreferredNameOrigin PreferredNameOrigin => (PreferredNameOrigin)int.Parse(_preferredNameStyle);
    private PreferredNameOrigin PatronPreferredNameOrigin => (PreferredNameOrigin)int.Parse(_preferredPatronNameStyle);
    private NameGender PreferredNameNameGender => (NameGender)int.Parse(_preferredNameGender);
    private NameGender PatronPreferredNameGender => (NameGender)int.Parse(_preferredPatronNameGender);
    private bool _isNpcsLoaded;
    private bool _isPatronNpcsLoaded;

    protected override void OnInitialized()
    {
        _reRollers = new Dictionary<XwnGenerationType, Func<Task>>
        {
            { XwnGenerationType.AdventureSeed, async () => await RollAdventureSeed() },
            { XwnGenerationType.Patron, async () => await RollPatron() },
            { XwnGenerationType.Npc, async () => await RollNpcs() },
            { XwnGenerationType.UrbanEncounter, async () => await RollUrbanEncounters() },
            { XwnGenerationType.WildernessEncounter, async () => await RollWildernessEncounters() }
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitData();
        }
    }

    private async Task RollNpcs()
    {
        _isNpcsLoaded = false;
        if (_randomNpcInfoDisplay is not null)
        {
            await _randomNpcInfoDisplay.GenerateNpcs();
        }
    }

    private async Task RollAdventureSeed()
    {
        _adventureSeeds = [];
        _adventureSeeds = await GeneratorApiService.GetGeneratedAdventureSeeds(1);
    }

    private async Task RollPatron()
    {
        _isPatronNpcsLoaded = false;
        _patrons = [];
        _patrons = await GeneratorApiService.GetGeneratedPatrons(1);
        if (_randomPatronNpcInfoDisplay is not null)
            await _randomPatronNpcInfoDisplay.GenerateNpcs();
    }

    private async Task RollUrbanEncounters()
    {
        _urbanEncounters = [];
        _urbanEncounters = await GeneratorApiService.GetGeneratedUrbanEncounters(2);
    }

    private async Task RollWildernessEncounters()
    {
        _wildernessEncounters = [];
        _wildernessEncounters = await GeneratorApiService.GetGeneratedWildernessEncounters(2);
    }

    private async Task InitData()
    {
        foreach (var (_, func) in _reRollers)
        {
            await func();
        }

        await InvokeAsync(StateHasChanged);
    }

    private void NpcsLoaded()
    {
        _isNpcsLoaded = true;
    }

    private void PatronNpcLoaded()
    {
        _isPatronNpcsLoaded = true;
    }
}