@page "/xwn/SWN"
@using TableHelper.Components
@using TableHelper.Components.XWN.AdventureSeedGenerator
@using TableHelper.Components.XWN.NpcGenerator
@using TableHelper.Components.XWN.PatronGenerator
@using TableHelper.Models
@using TableHelper.Models.Npc
@using TableHelper.Services
@inject TableHelperApiService ApiService

<h3>SWN</h3>
<h4>Sandbox Game Generator</h4>
<div class="container">
    <ReRollableRow OnClickCallback="ReRollAdventureSeed" Title="Adventure Seeds">
        <SpinnerWrapper IsLoading="@_isAdventureSeedsLoading">
            <AdventureSeedGeneratorDisplay Seeds="@_adventureSeeds"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="ReRollPatron" Title="Patron">
        <SpinnerWrapper IsLoading="@_isPatronLoading">
            <PatronGeneratorDisplay Patrons="@_patrons"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="ReRollNpcs" Title="NPCs">
        <div class="row">
            <div class="col-md-4">
                <label for="numberOfNpcs" class="col-sm-6 col-form-label">Number of NPCs</label>
                <input @bind="_numberOfNpcs" type="number" step="1" class="form-control" id="numberOfNpcs">
            </div>
            <div class="col-md-4">
                <label for="preferredNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                <select @bind="_preferredNameStyle" id="preferredNameStyle" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0">Arabic</option>
                    <option value="1">Chinese</option>
                    <option value="2" selected>English</option>
                    <option value="3">Greek</option>
                    <option value="4">Indian</option>
                    <option value="5">Japanese</option>
                    <option value="6">Latin</option>
                    <option value="7">Nigerian</option>
                    <option value="8">Russian</option>
                    <option value="9">Spanish</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="preferredNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                <select @bind="_preferredNameGender" id="preferredNameGender" class="form-select"
                        aria-label="Preferred Name Style">
                    <option value="0" selected>No Preference</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
        </div>
        <div class="row">
            <SpinnerWrapper IsLoading="@_isNpcLoading">
                <NpcGeneratorDisplay Npcs="@_npcs"/>
            </SpinnerWrapper>
        </div>
    </ReRollableRow>
    <div class="row">
        <p>Some NPCs</p>

    </div>
    <div class="row">
        <p>The location</p>

    </div>
    <div class="row">
        <p>Some events</p>

    </div>
</div>

@code {
    private List<AdventureSeed> _adventureSeeds = [];
    private List<Patron> _patrons = [];
    private List<NpcInfo> _npcs = [];

    private bool _isAdventureSeedsLoading = true;
    private bool _isPatronLoading = true;
    private bool _isNpcLoading = true;

    private async Task ReRollAdventureSeed(MouseEventArgs e) => await RollAdventureSeed();
    private async Task ReRollPatron(MouseEventArgs e) => await RollPatron();
    private async Task ReRollNpcs(MouseEventArgs e) => await RollNpcs();

    private string _preferredNameStyle = "2";
    private string _preferredNameGender = "0";
    private int _numberOfNpcs = 5;
    private PreferredNameOrigin PreferredNameOrigin => (PreferredNameOrigin)int.Parse(_preferredNameStyle);
    private NameGender PreferredNameNameGender => (NameGender)int.Parse(_preferredNameGender);

    protected override async Task OnInitializedAsync()
    {
        await InitData();
    }


    private async Task RollNpcs()
    {
        _isNpcLoading = true;
        _npcs = await ApiService.GetGeneratedNpcs(_numberOfNpcs, PreferredNameNameGender, PreferredNameOrigin);
        _isNpcLoading = false;
    }

    private async Task RollAdventureSeed()
    {
        _isAdventureSeedsLoading = true;
        _adventureSeeds = await ApiService.GetGeneratedAdventureSeeds(1);
        _isAdventureSeedsLoading = false;
    }

    private async Task RollPatron()
    {
        _isPatronLoading = true;
        _patrons = await ApiService.GetGeneratedPatrons(1);
        _isPatronLoading = false;
    }

    private async Task InitData()
    {
        await RollAdventureSeed();
        await RollPatron();
        await RollNpcs();
    }

}